.accordion{
    
    @include media-breakpoint-between(md,xl){
        display: none;
    }
    @include media-breakpoint-down(sm){
        display: block;
    }
    
    .card__header{
        display: flex;
        justify-content: space-between;
        border-top:1px solid $color__gray;
        border-bottom: 1px solid $color__gray; 
        padding-top: 9.5px;
        padding-bottom: 9.5px;
    }
    .product__card_title{
        
        @include fs-lh(16px,21px);
        color: $color__white;
        width: 90%;
        
    }
    .card__img{
        width: 24px;
        height: 24px;
        .icon-fluid{
            max-width: 100%;
            height: 100%;
        }
    }
    .orange_item{
        li{
            @include fs-lh(15px,21px);
            color: $color__white;
            &:before{
                width: 3px;
                height: 3px;
                border-radius: 100%;
                margin-right: 4px;
            }
        }
    }
    .product__card_bg{
        @include media-breakpoint-down(sm){
            margin-top: 40px;
            display: flex;
            justify-content: center;
            width: 100%;
            max-height: 100%;
            
            
        }
        
    }
    .product__card_subtitle{
        @include fs-lh(16px,21px);
        color: $color__orange;
        margin-bottom: 8px;
    }

    .product__card_descr{
        @include fs-lh(14px,18px);
        color: $color__white;
        margin-bottom: 32px;
    }
    
}

