.activity{
    @include py(120px, 174px);
    @include media-breakpoint-down(sm){
        @include py(25px, 64px);
    }
    &__wrapper{
        @include media-breakpoint-between(md,xl){
            display: flex;
            justify-content: space-between;
        }
    }
    &__descr{
        font-weight: 400;
        @include media-breakpoint-between(md,xl){
            @include fs-lh(24px,33px);
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(18px,25px);
        }
    }
}
.course__strip_line{
    @include media-breakpoint-down(xs){
        width: 55%;

    }
}


.activity__col{ 
    &_left{
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*7);
        }
    }
    &_center{
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*1);
            text-align: center;
            position: relative;
            top: 80px;
        }
        @include media-breakpoint-down(sm){
            padding: 24px 0 24px 135px;
        }

    }
    &_right{
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*3.7);
        }
    }

}

