.course{
    @include py(120px, 120px);
    background: #F0EFEC;
    @include media-breakpoint-down(xs){
        @include py(64px, 10px);
    }
    &__group{
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(sm){
            justify-content: none;
        }
    }
    &__strip{
        @include fs-lh(18px, 22px);
        color: $color__black;
        @include py(40px, 46px);
        position: relative;
        @include media-breakpoint-down(sm){
            @include fs-lh(14px, 22px);
            padding-bottom: 24px;
            padding-right: 5px;
        }
    }
    &__strip_line{
        margin-top: 40px;

        @include media-breakpoint-down(lg){
            width: 89%;
        }
        @include media-breakpoint-down(sm){
            width: 87%;
            margin-top: 37px;
        }
        @include media-breakpoint-down(xs){
            width: 75%;

        }
       
    }
    &__wrapper{
        @include media-breakpoint-between(md,xl){
            display: flex;
            justify-content: space-between; 
        }
        @include media-breakpoint-down(md){
            //flex-direction: column;
        }
    }
    &__dflex{
        @include media-breakpoint-between(md,xl){
            //display: flex;
            //justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }  
    }
    &__preview{
        @include media-breakpoint-between(md,xl){
            //min-width: 240px;
            border-radius: 6px;
            width: 100%;
            max-width: 240px;
            max-height: 240px;
            .img-fluid{
                height: 100%;
                width: 100%;
            }
            
            
        }
        @include media-breakpoint-down(sm){
            display: flex;
            max-height: 170px;
            width: 100%;
            .img-fluid{
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }  

    }
    &__content{
        @include media-breakpoint-between(md,xl){
            @include mx(16px ,0)
        }
        @include media-breakpoint-down(sm){
            @include my(0 ,64px)
        }
        
        
    }
    &__subtitle{
        @include media-breakpoint-between(md,xl){
            @include fs-lh(32px ,41px);
            color: $color__black;
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(24px ,31px);
            margin-top: 16px;
            
        }  
    }
    &__descr{
        @include media-breakpoint-between(md,xl){
            @include fs-lh(18px ,26px);
            margin-top: 16px;
            color: $color__black;
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(16px ,21px);
            margin-top: 4px;
        }  
        
    }
    
}    

.course__col{
    &_left{
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*5);
        }
    }
    &_right{
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*5.8);
        }
    }
    
}