.curators{
    @include py(112px, 112px);
    background-color: $color__black;
    @include media-breakpoint-down(sm) {
        @include py(64px, 64px);
    }
    &__topflex{
        display: flex;
        &_bottom{
            margin-top: 112px;
        }
        @include media-breakpoint-down(xl){

        }

        @include media-breakpoint-between(md,lg){
            justify-content: space-between;
        }
        @include media-breakpoint-down(sm){
            display: flex;
            flex-direction: column;
            
        }
        
    }
    &__group{
        margin-right: 130px;
        @include media-breakpoint-down(sm){
            margin-right: 0;
        }
        @include media-breakpoint-down(sm){
            //margin-bottom: 28px;
        }
        @include media-breakpoint-down(xs){
            //margin-bottom: 64px;
        }
        
    }
    &__descr{
        @include fs-lh(24px,33px);
        font-weight: 400;
        color: $color__white;
        @include media-breakpoint-down(xs){
            @include fs-lh(16px,21px);
        }
        &_adapt{
            @include media-breakpoint-down(sm){
                margin-top: 20px;
            }
            @include media-breakpoint-down(xs){
                margin-top: 60px;
            }
        }
        

    }
    &__imgflex{
        display: flex;
        justify-content: space-between;
        .img-fluid{
            margin-right: 16px;
            margin-top: 21px;
        }
        @include media-breakpoint-down(sm){
            width: 100%;
            max-width: 160px;
            max-height: 170px;
            .img-fluid{
                height: 100%;
                width: 100%;
            }
        }
        @include media-breakpoint-down(xs){
            max-width: 87px;
            max-height: 90px;
        }

    }
    &__img{
        margin-bottom: 4px;
        .img-fluid{
            width: 90%;
        }
        &_top{
            margin-top: 30px;
        }     
    }
    &__line{
        @include media-breakpoint-down(sm){
            margin-bottom: 24px;
        }

    }
    
.skills__title{
    color: $color__white !important;
}
.course__strip{
        color: $color__orange;
        @include py(0, 16px);
        @include fs-lh(32px,41px);
    }
   
}

.curators__group_col{
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*5);
    }
}
.curators__descr_col {
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*5);
    }
}

.curators__imgflex_col{
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*3);
    }
    

}
