.footer{
    @include py(202px, 33px);
    @include media-breakpoint-down(sm){
        @include py(60px, 33px);
    }
    
    &__flex{
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-between(xs,md) {
            //flex-direction: column-reverse;
        }
        @include media-breakpoint-down(sm){
            
            flex-direction: column;
            margin-bottom: 10px;
        }

    
    }
    &__name{
        font-weight: 500;
        color: $color__black;
        @include media-breakpoint-between(md,lg) {
            @include fs-lh(16px,24px);
        }
        @include media-breakpoint-between(xs,md) {
            @include fs-lh(12px,20px);
        }
    }
    &__right{
        @include media-breakpoint-down(sm){
            margin-top: 24px
        }
    }    

    
    &__link{
        @include fs-lh(16px,24px);
        font-weight: 500;
        display: flex;
        justify-content: end;
        color: $color__black;
        border-bottom: 1px solid $color__black;
        @include media-breakpoint-down(sm) {
            @include fs-lh(12px,15px);
            justify-content: start;
            
        }
    }
    .program__title{
        span{
            color: $color__orange;
        }
    }
    .program_button{
        margin-top: 35px;
    }
}
