.header{
    @include py(34px, 0);
    position: relative;
    z-index: 12;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-up(xl) {
            @include fw(100%/12*8);

        }
        @include media-breakpoint-between(md,lg) {
            @include fw(100%/12*12);
        }
        @include media-breakpoint-down(sm) {
            @include fw(100%/12*12);
            flex-direction: column;
        }
        
    }
    &__icon{
        display: block;
        max-width: 191px;
        height: 44px;
        .icon-fluid {
            width: 100%;
            height: 100%;
        }
    }
    &__btn{
        @include fs-lh(18px,26px);
        padding: 5px;
        display: block;
       // min-width: 475px;
        width: 100%;
        height: 34px;
        background: $color__white;
        color: $color__black;
        text-align: center;
        border-radius: 6px;
        @include media-breakpoint-down(sm) {
            @include fw(100%/12*4);
            @include my(20px, 20px);
            min-width: 100%;
            height: auto;
        }
        @include media-breakpoint-down(xs) {
            @include fw(100%/12*4);
            @include my(28px, 44px);
            min-width: 100%;
            @include fs-lh(12px,17px);
            height: auto;
            font-weight: 500;
        }
    }
}

.header__col{
    &_logo {
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*2);
        }

    }

    &_btn {
        @include media-breakpoint-between(md,xl){
            @include fw(100%/12*7);

        }

    }


}