.promo{
    @include media-breakpoint-between(md,xl){
        position: relative;
        @include py(152px, 0);
        @include my(0,200px);
    }
    @include media-breakpoint-between(xs,sm) {
        @include my(0,300px);
        position: relative;
        z-index: 12;
    }
    &__title{
        @include media-breakpoint-between(md,xl){
            @include fs-lh(70px,84px);
            margin-bottom: 40px;
        }
        color: $color__white;
        font-weight: 400;
        span{
            color: $color__orange;

        }
        @include media-breakpoint-down(sm){
            @include fs-lh(40px, 48px);
            margin-bottom: 30px;
            span{
                @include fs-lh(32px, 38px);

            }
        }
        
    }
    &__img{
        position: absolute;
        bottom: 0;
        right: -100px;
        z-index: 10;
        .img-fluid{
            width:65%;
            float: right;
        }
        @include media-breakpoint-down(sm) {
            bottom: 0;
            right: 0;
            .img-fluid{
                float: right;
                width: 65%;
            }
        }
        @include media-breakpoint-down(xs) {
            bottom: 0;
            right: 0;
            z-index: 9;
            .img-fluid{
                float: right;
                width: 100%;
            }
        }
    }
}

.promo__col{
    .promo__title {
        @include media-breakpoint-up(xl){
            @include fw(100%/12*6);
        }
        @include media-breakpoint-between(md,lg){
            @include fw(100%/12*8);
        }
    }
}