.program{
    position: relative;
    @include py(112px, 112px);
    background: $color__white;
    @include media-breakpoint-down(sm){
        @include py(64px, 64px);
    }
    &__dflex{
        display: flex;
        @include media-breakpoint-down(sm){
            display: flex;
            flex-direction: column;
        }
    }
    &__title{
        @include fs-lh(32px,38px);
        font-weight: 400;
        margin-right: 150px;
        @include media-breakpoint-down(sm){
            @include fs-lh(23px,32px);
            margin-right: 0;
        }
        span{
            color: $color__orange;
        }
    }
    &_button{
        
        
        @include media-breakpoint-down(sm){
            display: flex;
            justify-content: center;
            
        }
        @include media-breakpoint-up(sm){
            
        }
       
    } 
   
    &__img{
        position: absolute;
        left: 42%;
        @include media-breakpoint-down(sm){
            display: none;
        }
        &_adaptive{
            display: none;
            @include media-breakpoint-down(sm){
                display: flex;
                justify-content: center;
                padding: 20px 0 20px 0;
        }
        
        }
    }
}

.program__title_col{
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*7);
    }
}
