.product{
    @include py(90px, 112px);
    background: $color__black;
    @include media-breakpoint-down(sm){
        @include py(50px, 120px);
    }
    &__title{
        color: $color__white!important;
        margin-bottom: 75px;
        span{
            display: none;
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(23px,32px);
            margin-bottom: 0;
            span{
                display: block;
                @include fs-lh(23px,32px); 
            }
        }
    
        
    }
    .course__strip{
        @include fs-lh(32px,41px);
        color: $color__white;
        &_line{
            width:77%;
            margin-top: 47px;
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(14px,22px);
            //width: 152px;
            
        }
        
    }
    .course__strip_line{
        @include media-breakpoint-down(sm){
            margin-top: 30px;
        }
    }
    

}

.product__card{
    color: $color__white;
    transition: all 0.5s;
    @include media-breakpoint-down(sm){
        display: none;
    }
    @include media-breakpoint-between(md,xl){
        padding: 24px 24px 0 24px;
        width: 100%;
        min-height: 380px;
        border: 1px solid $color__gray;
        border-radius: 11px;
        &_title{
            @include fs-lh(24px,31px);
            
        }
        &_subtitle{
            @include fs-lh(24px,33px);
            color: $color__orange;
        }
        &_descr{
            @include fs-lh(16px,22px);
            
            margin-top: 4px;

        }
        &_paragraph{
            margin-top: 16px;
            @include fs-lh(16px,22px);
            font-weight: 500;
            
        }
        
    }
    &:hover{
        background-color: $color__white;
        color: $color__black;

    }  
}




.button__practic{
    padding: 4px;
    display: block;
    margin-top: 16px;
    border-radius: 10px;
    background-color: $color__orange;
    @include fs-lh(16px,20px);
    border: none;
    color: $color__white;
    @include media-breakpoint-down(sm){
        margin-bottom: 8px;
        display: inline-block;
    }

}

.about__card{
    transition: all 0.5s;
    color: $color__white;
    padding: 24px 24px 0 24px;
    width: 100%;
    height: auto;
    border: 1px solid $color__gray;
    border-radius: 10px;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm){
        display: none;
    }
    &_flextop{
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(sm){
            display: flex;
            flex-direction: column;
        }
    }
    &_title{
        @include fs-lh(32px,41px);
        
        
    }
    &_line{
        border: 1px solid $color__gray;
        margin-top: 24px;
        width: 100%;
        
    }
    &_flexbottom{
        display: flex;
        justify-content: space-between;
    }
    &:hover{
        background-color: $color__white;
        color: $color__black;

    }
   
.product__card_bnone{
    padding: 58px 0 25px 0;
    border: none;
    border-radius: none;
}
.product__card_col{
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*3.5);
    }
}


}
.product__card-bg{
    @include media-breakpoint-down(sm){
        display: none;
    }

}

.product__img{
    height: 100%;
    .img-fluid{
        height: 100%;
    }
}
