.scares{
    @include py(112px, 0);
    background-color: #F0EFEC;
    @include media-breakpoint-between(md,lg){
        @include py(60px, 0); 
    }
    @include media-breakpoint-down(sm){
        @include py(30px, 0); 
    }
    &__dflex{
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-between(xs,lg){
            flex-direction: column;
        }
    }
    &__title{
        color: $color__black;
        margin-bottom: 44px;
        @include media-breakpoint-down(md){
            margin-bottom: 24px;
        }
    }
    &__subflex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 17px;
        @include media-breakpoint-between(xs,lg){
            grid-template-columns: 1fr;
        }
    }
    &__item{
        list-style-type: none;
        li{
            @include fs-lh(18px,26px);
            margin-bottom: 34px;
            @include media-breakpoint-down(md){
                margin-bottom: 24px;
            }
            
            &:before{
                content: '';
                background-color: $color__orange;
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                margin-right: 16px;
            }
        }
    
    }
    &__img{
        .img-fluid{
            @include media-breakpoint-between(md,lg){
                height: 86%;
            }
            //@include media-breakpoint-between(sm,md){
                //height: 21%;
           //}
        }
    }


    .h2{
        @include media-breakpoint-between(md,lg){
            @include fs-lh(39px,52px);
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(23px,32px);
        }
    }
}

.scares__title_col{
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*10);
    }
}