.skills{
    @include py(112px, 112px);
    background-color: #F57B51;
    @include media-breakpoint-down(md) {
        @include py(64px, 64px);
    }
    &__title{
        color: $color__white !important;
        margin-bottom: 40px;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            max-width: 100%;
            align-items: center;
        }
        
    }
    &__circle{
        position: relative;
        height: 187px;
        background-color: $color__white;
        border-radius: 100%;
        border: 1px solid $color__black;
        padding: 71px 20px 70px 20px;
        @include fs-lh(18px,23px);
        text-align: center;
        font-weight: 400;
        @include media-breakpoint-down(md){
            width: 100%;
            border-radius: 10px;
            margin-bottom: 16px;
            height: auto;
            padding-top: 25px; 
            padding-bottom: 25px;       
        }
        &::after{
            content: '';
            position: absolute;
            border: 1px dotted $color__black;
            width: 76px;
            top: 94px;
            right: -78px;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &_after{
            &::after{
                display: none;
            }
        }
        &_black{
            margin-right: 326px;
            padding-top: 45px;
            background-color: $color__black;
            color: $color__white;
            @include media-breakpoint-down(md){
                margin-right: 0;
                padding-top: 25px; 
            }
        }
        &_end{
            @include media-breakpoint-down(md){
                display: none;
            }

        }
        
    }

    &__bottomflex{
        display: flex;
        justify-content: flex-end;
        position: relative;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
        }  
    }
    &__img{
        position: absolute;
        top: -79px;
        right: 85px;
        @include media-breakpoint-down(md) {
            display: none;
        }  
    }
    &__img_adapt{
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
            bottom: 105px;
            position: absolute;
        }
        @include media-breakpoint-down(xs){
            bottom: 120px;
        }

    }

}

.skills__title_col{
    @include media-breakpoint-between(md,xl){
        @include fw(100%/12*5.5);
    }
}
.skills__circle_col {
    @include media-breakpoint-between(lg,xl){
        @include fw(100%/12*1.8);
    }
}

