.stady{
    position: relative;
    @include py(112px, 112px);
    background: #F0EFEC;
    overflow: hidden;
    @include media-breakpoint-down(sm){
        @include py(64px, 0);
    }
    &__title{
        width: 84%;
        color: $color__black;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm){
            @include fs-lh(23px, 32px);


        }
    }
    &__title-down{
        margin-top: 112px;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm){
            margin-top: 64px;
            margin-bottom: 22px;
        }

    }
    &__bg{
        position: absolute;
        bottom: 0px;
        right: 0;
        .img-fluid{
            width:90%;
            height:90%;
        }
        @include media-breakpoint-down(md){
            width: 100%;
            right: -60px;
            
            .img-fluid{
                width: 60%;
            }
        }
        @include media-breakpoint-down(sm){
            right: -49px;
            position: relative;
            z-index: 10;
        }
       
    }
    .product__card{
        background: $color__white;
        min-height: 240px;
        border: none;
        @include media-breakpoint-down(sm){
            display: flex;
            flex-direction: column;
            padding: 16px;
            border-radius: 14px;
        }
        &_dflex{
            display: flex;
            align-items: center;
        }
        &_imgicon{
            max-width: 51px;
            height: 51px;
            .icon-fluid {
                width: 100%;
                height: 100%;
            }
        }
        &_title{
            color: $color__black;
            padding-left: 25px;
            font-weight: 400;
            @include media-breakpoint-down(sm){
                @include fs-lh(18px,23px);
                width: 60%;
                padding-left: 8px;
                
            }
            @include media-breakpoint-between(md,lg){
                @include fs-lh(19px,20px);
            }
            
        }
        &_descr{
            @include fs-lh(16px,22px);
            margin-top: 8px;
            font-weight: 400;
        }   
    }
    .product__card-bg{
        background-color: none;
        @include wh(70%,auto);
        @include media-breakpoint-down(sm){
            display: flex;
            flex-direction: column;
           
        }
    }
    .product__card_black{
        color: $color__black;
    }
   
}

