.well{
    @include py(112px, 112px);
    background-color: $color__black;
    @include media-breakpoint-down(sm){
        @include py(64px, 50px);
    }
    .product__title{
        margin-bottom: 20px;
    }
    .course__strip{
        @include fs-lh(32px,41px);
        color: $color__white;
        &_line{
            width:70%;
        }
        @include media-breakpoint-down(sm){
            @include fs-lh(14px,22px);
            
        }
        

    }
}