//colors

$color__black: #101010;
$color__orange: #F57B51;
$color__white: #FFFF;
$color__gray: #393939;

.color-orange{
    @include media-breakpoint-between(md,xl){
        color: $color__orange;
    }
    @include media-breakpoint-down(sm){
        @include fs-lh(16px ,21px);
        color: $color__orange;
    }
}

@include media-breakpoint-between(md,lg) {
    
}
@include media-breakpoint-between(xs,md) {
    
}

@include media-breakpoint-down(xl) {
   
}
@include media-breakpoint-down(lg) {
  
}
@include media-breakpoint-down(md) {
    
}

@include media-breakpoint-down(sm) {
    
}