.button{
    display: block;
    text-align: center;
    @include fs-lh(20px,26px);
    max-width: 335px;
    height: 62px;
    background-color: $color__orange;
    color: $color__white;
    border-radius: 6px;
    padding: 18px 25px 16px 25px;
    border: none;
    position: relative;
    z-index: 15;
    @include media-breakpoint-between(md,lg){
        padding:6px 5px 6px 5px;
    }
    @include media-breakpoint-down(md){
        max-width: 100%;
    
    }

}