body{
    font-family: 'Roboto', sans-serif;
}
.container {
    @extend %container;
    position: relative;
    @include media-breakpoint-down(xl) {
        //@include px(25px);
    }
    @include media-breakpoint-down(lg) {
        @include px(25px);
    }
    @include media-breakpoint-down(md) {
        @include px(25px);
    }
    @include media-breakpoint-between(xs,sm) {
        @include px(15px);
    }
}
.animate-bg{
    //min-height: 729px;
    height: 100%;
    background: $color__black;
    overflow: hidden;
    position: relative;
    z-index: 12;
}
.orange_item{
    margin-top: 16px;
    list-style-type: none;
    
    li{
        @include fs-lh(16px,22px);
        //color: $color__white;
        margin-bottom: 8px;
        //position: relative;
        //list-style-position: inside;
        &:before{
            content: '';
            background-color: $color__orange;
            display: inline-block;
            vertical-align: middle;
            width: 11px;
            height: 11px;
            border-radius: 2px;
            margin-right: 16px;
            //position: absolute;

        }
    }
    
}
ul{
    padding-left: 0;
}