.overlay{
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: black , $alpha: 0.56);
}
.modalform{
    position: relative;
    margin: 0 auto;
    max-width: 508px;
    top: 50px;
    min-height: 485px;
    background: $color__white;
    padding: 68px 46px 60px 42px;
.button{
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
    }
    &__close{
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
    }
    &__title{
        @include fs-lh(18px,26px);
        color:$color__orange;
        text-align: center;
        font-weight: 500;
    }
    &__descr{
        margin: 20px 0 30px 0;
    }
    
}

.show-active {
    display: block;
}

.feed__form{
    
    &-group{
        margin-bottom: 8px;
    }
    &-name{
        border-radius: 6px;
        width: 100%;
        border: 1px solid #BDBDBD;
        height: 45px;
        padding-left: 5px;
    }
    &-namebottom{
        padding-left: 45px;
    }
    &-link{
        @include fs-lh(12px,17px);
        color: #ADADAD;
        display: block;
        text-align: center;
        max-width: 414px;
        span{
        color: #ADADAD;
        border-bottom: 1px solid;
        }
    
    }

}
.dropdown{
    position: relative;
    &__face{
        display: flex;
        align-items: center;
        position: absolute;
        border: none;
        outline: none !important;
        background-color: $color__white;
        border-width: 0;
        top: -46px;
        left: 2px;
    }
    

    
    &__flag{
        .img-fluid{
            width: 25px;
            height: 25px;
        }
        
    }
    &-menu{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
    }
    
}