.gridcolumns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    @include media-breakpoint-down(sm){
        grid-template-columns: 1fr;
        gap: 5px;
    }
}
.grid-resize {
    grid-column: 1/4;
    grid-row: 2/2;
}