include libs/mixins 

block meta 
    - var title = 'фото';

doctype html 
html(lang='ru')
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="keywords" content="")
        meta(name="description" content="")
        
    body 
        .animate.animate-bg 
            header.header   
                .container 
                    .header__wrapper 
                        .header__col.header__col_logo 
                            a.header__icon(href="#")
                                +icon('logo')
                        .header__col.header__col_btn 
                            a.header__btn(href="#") Масштабный курс от школы фотографии sensei
            section.promo 
                .container 
                    .promo__col
                        h1.promo__title Фотография:<br>
                            span от нуля до профи
                        a.button(href="#" id="btn__js") записаться на курс
            .promo__img 
                +image('content/promo.png')

        block wrapper       

        footer.footer
            .container  
                .footer__flex
                    .footer__left 
                        .footer__name ИП Мирошник Ярослав Александрович
                        .footer__name ИНН 771002248443 
                    .footer__right 
                        a.footer__link Оферта
                        a.footer__link Политика конфиденциальности

script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js") 
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js")
