extends base 

block meta 
    - var title = 'Главная';

block wrapper 
    main.page-main 
        section.course
            .container 
                h2.h2.course__title Кому подходит этот курс
                .course__group
                    .course__strip по стажу
                    .course__strip_line
                        +image('content/orange-line.png')
                .course__wrapper
                    .course__col.course__col_left
                        .course__dflex
                            .course__preview                   
                                +image('content/photo-left.jpg')
                            .course__content
                                .course__subtitle Новичку
                                .course__descr Курс поможет разобраться с настройками, 
                                    |композицией, светом, работой в студии, обработкой в 
                                    |Lightroom и Photoshop и выйти на 
                                a.color-orange свой первый заказ

                    .course__col.course__col_right
                        .course__dflex
                            .course__preview
                                +image('content/photo-right.jpg')
                            .course__content
                                .course__subtitle Любителю
                                .course__descr Курс поможет отточить навыки работы с фотографией. 
                                    |На нём ты научишься ретушировать на продвинутом уровне и разберёшься в трендах. 
                                    |Выйдешь на новый уровень и сможешь 
                                a.color-orange больше зарабатывать.
        section.activity 
            .container 
                .course__group
                    .course__strip по роду деятельности
                    .course__strip_line
                        +image('content/orange-line.png')
                .activity__wrapper
                    .activity__col.activity__col_left
                        .activity__descr Если ты 
                            a.color-orange фотограф,
                            a.color-orange стилист,
                            a.color-orange мастер по ноготочкам,
                            a.color-orange гончар,
                            a.color-orange художник,
                            a.color-orange ювелир,
                            a.color-orange вязальщик 
                                |шапочек из собачьей шерсти,
                            a.color-orange блогер,
                            a.color-orange модель,
                            a.color-orange скульптор,
                            a.color-orange HR 
                            |или представитель любой другой профессии,
                            |в которой нужно уметь фотографировать людей или предметы
                    .activity__col.activity__col_center
                        .activity__descr то
                    .activity__col.activity__col_right
                        .activity__descr На курсе ты повысишь качество своих фотографий и
                            | начнёшь экономить на услугах фотографа, если ты ими пользуешься
        section.product 
            .container 
                h2.h2.product__title Пройдёмся по программе курса:
                    span чтобы понять,чем же он так хорош
                .course__group
                    .course__strip Basic (7 модулей)
                    .course__strip_line
                        +image('content/orange-line.png')
                .gridcolumns 
                    .product__card
                        .product__card_title 1. Тест на фотографа
                        ul.orange_item 
                            li увидишь свои сильные и слабые стороны
                            li поймёшь, куда двигаться дальше
                            li поставишь цели
                    .product__card
                        .product__card_title 2. Ищем свой стиль
                        ul.orange_item 
                            li поймешь, как выражать свои идеи через фотографию
                            li построишь систему хранения референсов
                            li найдёшь стили, в которых тебе нравится работать
                            li научишься отличать хорошую фотографию от плохой
                    .product__card
                        .product__card_title 3. Выбираем камеру и объектив
                        ul.orange_item 
                            li поймёшь, как выбирать камеру и оптику
                            li не будешь переплачивать за технику
                            li научишься настривать камеру
                            li спасёшь себя от лишних трат   
                    .product__card
                        .product__card_title 4. Композиция: как выстроить кадр
                        ul.orange_item 
                            li научишься выстраивать кадр
                            li поймёшь, как работать с цветом, светом, акцентом и ритмом
                            li узнаешь правила композиции и управление вниманием в кадре
                            li на практике отработаешь приёмы и без проблем сможешь использовать их в будущем
                            button.button__practic + практика с камерой
                    .product__card-bg
                        .product__img 
                            +image('content/imgcard.jpg')
                    .product__card
                        .product__card_title 5. Работа со светом
                        ul.orange_item 
                            li узнаешь, какие виды света бывают
                            li поймёшь, зачем нужен каждый из них
                            li научишься с ними работать
                            li разнообразишь свои работы, пополнишь/создашь портфолио
                            button.button__practic + практика с камерой
                    .product__card
                        .product__card_title 6. Как раскрыть модель в кадре и договориться с клиентом
                        ul.orange_item 
                            li научишься общаться с моделями и клиентами
                            li узнаешь основы позирования
                            li научишься раскрывать моделей в кадре, чтобы они улыбались глазами как Тайра Бэнкс
                            li отточишь теорию на практике
                            button.button__practic + практика с камерой
                    .product__card
                        .product__card_title 7. Основы Lightroom и Photoshop
                        ul.orange_item 
                            li изучишь основные инструменты Lightroom и  Photoshop
                            li научишься быстро обрабатывать кадры (сразу по несколько штук)
                            li убедишься, что можно делать это с телефона
                            li поймёшь, как быстро выбирать фотографии и работать с пресетами
                    .product__card-bg
                        .product__img
                            +image('content/imgcardtwo.jpg')


                .accordion( id="accordion")
                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")                  
                            .product__card_title 1. Тест на фотографа
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion")
                            ul.orange_item 
                                li увидишь свои сильные и слабые стороны
                                li поймёшь, куда двигаться дальше
                                li поставишь цели
                    
                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")                  
                            .product__card_title 2. Ищем свой стиль
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion")
                            ul.orange_item 
                                li поймешь, как выражать свои идеи через фотографию
                                li построишь систему хранения референсов
                                li найдёшь стили, в которых тебе нравится работать
                                li научишься отличать хорошую фотографию от плохой

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")                  
                            .product__card_title 3. Выбираем камеру и объектив
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion")
                            ul.orange_item 
                                li поймёшь, как выбирать камеру и оптику
                                li не будешь переплачивать за технику
                                li научишься настривать камеру
                                li спасёшь себя от лишних трат
                    
                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")                  
                            .product__card_title 4. Композиция: как выстроить кадр
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion")
                            ul.orange_item 
                                li научишься выстраивать кадр
                                li поймёшь, как работать с цветом, светом, акцентом и ритмом
                                li узнаешь правила композиции и управление вниманием в кадре
                                li на практике отработаешь приёмы и без проблем сможешь использовать их в будущем
                                button.button__practic + практика с камерой

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive")                  
                            .product__card_title 5. Работа со светом
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion")
                            ul.orange_item 
                                li узнаешь, какие виды света бывают
                                li поймёшь, зачем нужен каждый из них
                                li научишься с ними работать
                                li разнообразишь свои работы, пополнишь/создашь портфолио
                                button.button__practic + практика с камерой

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix")                  
                            .product__card_title 6. Как раскрыть модель в кадре и договориться с клиентом
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion")
                            ul.orange_item 
                                li научишься общаться с моделями и клиентами
                                li узнаешь основы позирования
                                li научишься раскрывать моделей в кадре, чтобы они улыбались глазами как Тайра Бэнкс
                                li отточишь теорию на практике
                                button.button__practic + практика с камерой

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven")                  
                            .product__card_title 7. Основы Lightroom и Photoshop
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion")
                            ul.orange_item 
                                li изучишь основные инструменты Lightroom и  Photoshop
                                li научишься быстро обрабатывать кадры (сразу по несколько штук)
                                li убедишься, что можно делать это с телефона
                                li поймёшь, как быстро выбирать фотографии и работать с пресетами
                    .product__card_bg
                        .product__img
                            +image('content/imgcardtwo.jpg')
        section.stady 
            .container
                h2.h2.stady__title Давай прервёмся на середине и вспомним о плюсах обучения у нас:
                .gridcolumns
                    .product__card.product__card_black
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon1')
                            .product__card_title У нас есть всё
                        .product__card_descr Всё, что должен уметь профессиональный фотограф. 
                        |Помимо техники, жанров и света, в курсе 
                        |ты найдёшь блоки о бизнесе и маркетинге. 
                        |И даже юридический блок есть. Всестороннее развитие, в общем.

                    .product__card.product__card_black
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon2')
                            .product__card_title Поддержка после обучения
                        .product__card_descr  Мы не бросим тебя после прохождения курса. 
                        |У тебя навсегда останутся общие чаты со студентами, 
                        |где ты получишь советы, поддержку и обратную связь.

                    .product__card.product__card_black
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon3')
                            .product__card_title Рассрочка
                        .product__card_descr У нас ты можешь не платить всю сумму сразу, 
                        |а разбить её на 12 месяцев. Обычно это называется 
                        |рассрочкой, но ты можешь называть это «Удобно».

                    .product__card.product__card_black
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon4')
                            .product__card_title Живой куратор
                        .product__card_descr Проверять твои работы, давать обратную связь и отвечать 
                        |на вопросы будет настоящий, человеческий куратор. И отвечать он 
                        |будет тоже по-человечески — развёрнуто, полезно и индивидуально.

                    .product__card.product__card_black
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon5')
                            .product__card_title Теория + Практика
                        .product__card_descr Мы считаем, что голой может быть только модель в кадре, 
                        |но никак не теория в курсе. Поэтому, всю теорию мы дополняем практикой, 
                        |чтобы закрепить полученную информацию.

                    .product__card.product__card_black
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon6')
                            .product__card_title В домашних тапочках
                        .product__card_descr Чтобы проходить курс, не нужно никуда ехать. 
                        |Всё обучение происходит дистанционно в формате видео-уроков, 
                        |тестов, вебинаров и общения в чате.
                
                h2.h2.stady__title-down И о минусах
                .gridcolumns
                    .product__card-bg
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon7')
                            .product__card_title Усилия
                        .product__card_descr Тебе придётся реально плодотворно потрудиться, 
                        |чтобы достичь крутого результата. 
                        |Организовывать и проводить съёмки и делать все домашние задания. 
                        |No pain no gain.

                    .product__card-bg
                        .product__card_dflex
                            .product__card_imgicon
                                +icon('orangeicon8')
                            .product__card_title Вопросы
                        .product__card_descr После курса ты устанешь отвечать на следующие вопросы:
                        |«Ты где так фотать научился?»
                        |«А меня пофотаешь?»
                        |«Ого у тебя фотки крутые, наверное камера дорогая?»
            .stady__bg
                +image('content/photoplenka.png')
        
        section.well
            .container 
                h2.h2.product__title А теперь вернёмся к курсу
                .course__group
                    .course__strip Medium (10 модулей)
                    .course__strip_line
                        +image('content/orange-line.png')
                .gridcolumns
                    .product__card
                        .product__card_title 1. Продвинутый свет: схемы света и световые эффекты
                        ul.orange_item 
                            li научишься строить световые схемы
                            li начнёшь считывать схемы света на чужих фотографиях и применять их в своих идеях
                            li подробно изучишь 6 видов света и продвинутые световые эффекты
                    
                    .product__card
                        .product__card_title 2. Съёмка в студии
                        ul.orange_item 
                            li научишься работать со студийным оборудованием
                            li проведёшь съемки с одним, двумя и тремя источниками света
                            li пополнишь своё портфолио крутыми кадрами
                    
                    .product__card
                        .product__card_title 3. Продвинутая обработка в Lightroom и Photoshop
                        ul.orange_item 
                            li подробно изучишь интерфейс и инструменты Ligthroom и Photoshop
                            li погрузишься в продвинутую обработку портретов, пейзажей и предметки
                            li научишься работать со слоями, добавлять и удалять объекты с фотографии

                    .about__card.grid-resize
                        .about__card_flextop    
                            .about__card_title  4. Углубленное изучение одного жанра
                            .button__practic + практика с камерой
                        .about__card_line
                        .about__card_flexbottom 
                            .product__card_bnone.product__card_col
                                .product__card_title Портрет
                                ul.orange_item 
                                    li узнаешь особенности жанра портретной съемки
                                    li научишься работать с человеком в кадре
                                    li проведёшь студийную портретную съёмку
                                    li отточишь навыки на реальном проекте: организация съёмки, работа с командой, 
                                        |передача эмоций и характера в чб и цветом портрете
                                .product__card_subtitle Результат:
                                .product__card_descr без страха фотографируешь людей на любых локациях и получаешь эмоциональные и сочные фотографии

                            .product__card_bnone.product__card_col
                                .product__card_title Предметная съёмка
                                ul.orange_item 
                                    li узнаешь особенности жанра
                                    li научишься делать рекламные фото для интернет-магазинов
                                    li поймёшь, как работать с разными видами материалов
                                    li отточишь навыки на реальном проекте: найдёшь заказчика и 
                                        |составишь коммерческое предложение, поработаешь в команде, 
                                        |организуешь работу в студии, разработаешь концепцию и с 
                                        |вероятностью 99% — заработаешь на съёмке
                                .product__card_subtitle Результат:
                                .product__card_descr знаешь, как снимать текстуры, делать рекламные снимки, 
                                    |оформлять витрины интернет-магазинов, находить клиентов и зарабатывать на этом    

                            .product__card_bnone.product__card_col
                                .product__card_title Пейзаж
                                ul.orange_item 
                                    li узнаешь особенности жанра
                                    li поймешь, как работать со светом в пейзажной фотографии
                                    li научишься снимать красивый городской пейзаж в HDR
                                    li проведёшь 2 съёмки
                                .product__card_subtitle Результат:
                                .product__card_descr пройдёшь путь от идеи до реализации, обработаешь и отдашь снимки заказчику

                .gridcolumns 
                    .product__card
                        .product__card_title 5. Делаем продающее портфолио и упаковываем инсту
                        ul.orange_item 
                            li определишь свою целевую аудиторию и нишу
                            li поймёшь, как себя позиционировать
                            li научишься отбирать фото для продающего портфолио
                            li полностью упакуешь свой Инстраграм

                    .product__card
                        .product__card_title 6. Ищем клиентов
                        ul.orange_item 
                            li узнаешь основы перформанс-маркетинга
                            li решишь вопрос с поиском клиентов и сезонностью заработка
                            li научишься продавать в инстаграм, даже если у тебя мало подписчиков
                            li построишь настоящую воронку продаж

                    .product__card
                        .product__card_title 7. Продавай как профессионал
                        ul.orange_item 
                            li установишь прайс на свои услуги
                            li получишь шаблон брифинга заказчика
                            li составишь план съёмок
                            li составишь план продаж и поймёшь, как его достичь
                            li научишься отрабатывать заказ клиента на 12 из 10

                    .product__card
                        .product__card_title 8. Находим заказы
                        ul.orange_item 
                            li узнаешь, какие есть площадки для поиска заказов фотографу
                            li научишься с ними работать
                            li научишься продавать в инстаграм на холодную аудиторию
                            li поймёшь, как и где находить заказы
                            li увеличишь свой доход
                    
                    .product__card
                        .product__card_title 9. Как защищать авторские права и вести бизнес
                        ul.orange_item 
                            li изучишь юридические особенности на рынке фотографии
                            li научишься легко делать договоры, планы акта приёма/передачи, передачи/защиты авторских прав
                            li разберёшься с CRM для фотографа
                            li научишься тратить меньше времени и зарабатывать больше денег

                    .product__card
                        .product__card_title 10. Диплом-марафон
                        .product__card_paragraph Самый лютый, насыщенный практикой модуль, в котором ты:
                        ul.orange_item 
                            li научишься общаться с моделями и клиентами
                            li узнаешь основы позирования
                            li научишься раскрывать моделей в кадре, чтобы они улыбались глазами как Тайра Бэнкс
                            li отточишь теорию на практике
                            button.button__practic + практика с камерой             

                .accordion( id="accordion")
                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")                  
                            .product__card_title 1. Продвинутый свет: схемы света и световые эффекты
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion")
                            ul.orange_item 
                                li научишься строить световые схемы
                                li начнёшь считывать схемы света на чужих фотографиях и применять их в своих идеях
                                li подробно изучишь 6 видов света и продвинутые световые эффекты

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")                  
                            .product__card_title 2. Съёмка в студии
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion")
                            ul.orange_item 
                                li научишься работать со студийным оборудованием
                                li проведёшь съемки с одним, двумя и тремя источниками света
                                li пополнишь своё портфолио крутыми кадрами

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")                  
                            .product__card_title 3. Продвинутая обработка в Lightroom и Photoshop
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion")
                            ul.orange_item 
                                li подробно изучишь интерфейс и инструменты Ligthroom и Photoshop
                                li погрузишься в продвинутую обработку портретов, пейзажей и предметки
                                li научишься работать со слоями, добавлять и удалять объекты с фотографии

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour")                  
                            .product__card_title 4. Углубленное изучение одного жанра
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion")
                            .button__practic + практика с камерой
                            .about__card_flexbottom 
                            .product__card_bnone.product__card_col
                                .product__card_title Портрет
                                ul.orange_item 
                                    li узнаешь особенности жанра портретной съемки
                                    li научишься работать с человеком в кадре
                                    li проведёшь студийную портретную съёмку
                                    li отточишь навыки на реальном проекте: организация съёмки, работа с командой, 
                                        |передача эмоций и характера в чб и цветом портрете
                                .product__card_subtitle Результат:
                                .product__card_descr без страха фотографируешь людей на любых локациях и получаешь эмоциональные и сочные фотографии

                            .product__card_bnone.product__card_col
                                .product__card_title Предметная съёмка
                                ul.orange_item 
                                    li узнаешь особенности жанра
                                    li научишься делать рекламные фото для интернет-магазинов
                                    li поймёшь, как работать с разными видами материалов
                                    li отточишь навыки на реальном проекте: найдёшь заказчика и 
                                        |составишь коммерческое предложение, поработаешь в команде, 
                                        |организуешь работу в студии, разработаешь концепцию и с 
                                        |вероятностью 99% — заработаешь на съёмке
                                .product__card_subtitle Результат:
                                .product__card_descr знаешь, как снимать текстуры, делать рекламные снимки, 
                                    |оформлять витрины интернет-магазинов, находить клиентов и зарабатывать на этом    

                            .product__card_bnone.product__card_col
                                .product__card_title Пейзаж
                                ul.orange_item 
                                    li узнаешь особенности жанра
                                    li поймешь, как работать со светом в пейзажной фотографии
                                    li научишься снимать красивый городской пейзаж в HDR
                                    li проведёшь 2 съёмки
                                .product__card_subtitle Результат:
                                .product__card_descr пройдёшь путь от идеи до реализации, обработаешь и отдашь снимки заказчику

                    .card
                        .card__header(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")                  
                            .product__card_title 3. Продвинутая обработка в Lightroom и Photoshop
                            .card__img      
                                +icon('plus')    
                        .card__body(id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion")
                            ul.orange_item 
                                li подробно изучишь интерфейс и инструменты Ligthroom и Photoshop
                                li погрузишься в продвинутую обработку портретов, пейзажей и предметки
                                li научишься работать со слоями, добавлять и удалять объекты с фотографи

        section.program 
            .container
                .program__dflex 
                    .program__title.program__title_col Нажимай на кнопку, чтобы получить полную программу курса и консультацию
                    .program__img_adaptive 
                        +image('content/arrowdown.png')
                    a.button.program_button(href="#") Получить консультацию
                .program__img 
                    +image('content/Arrow.png')
        
        section.scares 
            .container 
                .scares__dflex 
                    .scares__content
                        h2.h2.scares__title.scares__title_col Что обычно пугает и тормозит фотографов: 
                        .scares__subflex
                            ul.scares__item 
                                li «Боюсь, что мои работы никто не оценит»
                                li «Не знаю, как найти первых клиентов»
                                li «Родственники думают, что фотографией не заработаешь»
                            ul.scares__item 
                                li «Не могу реализовать идею»
                                li «Не умею работать с людьми и техникой»
                                li «Нужна дорогая камера для работы»
                    .scares__img 
                        +image('content/girl.png')
        section.skills 
            .container 
                h2.h2.skills__title.skills__title_col Что нужно сделать, чтобы это исправить:
                .skills__flex 
                    .skills__img_adapt 
                        +image('content/lineadaptive.png')
                    .skills__circle.skills__circle_col Подать заявку на курс
                    .skills__circle.skills__circle_col Смотреть видео-уроки
                    .skills__circle.skills__circle_col Делать все домашние задания
                    .skills__circle.skills__circle_col Получать обратную связь от кураторов
                    .skills__circle.skills__circle_col.skills__circle_after Общаться с фотографами в общем чате
                .skills__bottomflex.skills__bottomflex_col
                    .skills__img 
                        +image('content/line.png')
                    .skills__circle.skills__circle_col.skills__circle_after.skills__circle_black Удивиться, насколько сильно ты прокачался
                    .skills__circle.skills__circle_col.skills__circle_after.skills__circle_end Сдать диплом
                    
        section.curators 
            .container 
                h2.h2.skills__title Кто будет с тобой на курсе
                .curators__topflex
                    .curators__group.curators__group_col 
                        .course__strip 8 преподавателей
                        .curators__line 
                            +image('content/whiteline.png')
                    .curators__descr.curators__descr_col В сумме у них 96 лет опыта в сфере фотографии, 
                        |маркетинга и юриспруденции. Мы взяли этот опыт, 
                        |сконцентрировали и поместили в наши видеоуроки и 
                        |дополнительные материалы.

                .curators__topflex.curators__topflex_bottom
                    .curators__group.curators__group_col 
                        .course__strip 11 кураторов
                        .curators__line 
                            +image('content/whiteline.png')
                        .curators__imgflex.curators__imgflex_col 
                            +image('content/curator1.png')
                            +image('content/curator2.png')
                            +image('content/curator1.png')
                        .curators__imgflex.curators__imgflex_col 
                            +image('content/curator3.png')
                            +image('content/curator2.png')
                            +image('content/curator1.png')
                        .curators__imgflex.curators__imgflex_col 
                            +image('content/curator4.png')
                            +image('content/curator5.png')
                            +image('content/curator1.png')
                        .curators__imgflex.curators__imgflex_col 
                            +image('content/curator2.png')
                            +image('content/curator1.png')

                    .curators__descr.curators__descr_col.curators__descr_adapt Примеры обратной связи, 
                        |которую они будут давать тебе по домашкам: 
                        .curators__img.curators__img_top
                            +image('content/coment1.png')
                        .curators__img
                            +image('content/coment2.png')
                        .curators__img
                            +image('content/coment3.png')
        section.program
            .container 
                .program__dflex 
                    .program__title.program__title_col В общем, чтобы сделать из хобби профессию и начать зарабатывать на фотографии — 
                        span тебе нужно нажать на эту кнопку и следовать инструкции
                    .program__img_adaptive 
                        +image('content/arrowdown.png')
                    a.button.program_button Получить программу        
                .program__img 
                    +image('content/bigarrow.png')
        .overlay(id="partner")
            .modalform
                .modalform__close(id="modal__close")
                    +image('content/close.png')
                .modalform__title Фотография: от нуля до профи
                .modalform__descr 
                    form.feed__form(action="")
                        .feed__form-group
                            input.feed__form-name(placeholder="Имя")
                        .feed__form-group
                            input.feed__form-name(placeholder="Электронная почта" type="email")
                        .feed__form-group
                            input.feed__form-name.feed__form-namebottom(placeholder="Телефон" type="tel")
                        
                        .dropdown
                            .dropdown__face.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                .dropdown__flag 
                                    +image('content/flag.png')
                            .dropdown-menu(aria-labelledby="dropdownMenuButton")
                                .dropdown-item Ростов
                                .dropdown-item Москва
                button.button.btn-form Зарегистрироваться 
                a.feed__form-link(href="#") Отправляя форму, ты соглашаешься с 
                    span политикой конфиденциальности, обработкой персональных данных и договором оферты
                 
                 
                 
                 
                 
                 
                
                        



                        
                        


                